.navbar fade-in {
    animation: fadeIn 1s ease forwards;
}

        /* Animaciones */
        @keyframes slideUp {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* Estilos generales */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f3f2f2;
            

            
            .navbar fade-in {
                
            }